body{
	width:1000px; 
	margin: 0 auto;
	font-family: Verdana, sans-serif;
	font-size: 9pt;
}
a:link{
	color: #000;
	text-decoration: none;
}
a:active{
	color: red;
}
a:visited{
	color: #000;
	text-decoration: none;
}
a img{
	border: none;
	outline: none;
}
#header{
	margin-bottom: 5px;
	position: relative;
}
#logo{
	left:325px;
	position:relative;
	top:10px;
}
#banner{
	background: #E7EEF3 url(cupertino/images/ui-bg_highlight-soft_100_e7eef3_1x100.png) repeat-x scroll 50% 50%;
	border:1px solid #DDDDDD;
	height:65px;
}
#sitename{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 15px;
}
#siteslogan{
	font-family:arial;
	font-size:15px;
	padding-right:10px;
	position:relative;
	text-align:right;
	top:15px;
}
#header #rbbox{
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 10px;
}
.label{
	display:inline-block;
	width:5em;
}
#loginform form{
	float:left;
	left:25%;
	position:relative;
	top:35%;
}
#mcont{
	position: absolute;
	left: 20%;
	
}
#menu{
	position: absolute;
	top: 46px;
	padding-left: 35px;
}
#menu a:link,#menu a:visited {
	color: #000;
}
#loading{
	position: absolute;
	text-align: center;
	width: 780px;
	background-color: white;
	opacity: .90;
	display: none;
	top: 150px;
	z-index: 1001;
}
#messages{
	background: #FFF none repeat scroll 0 0;
	border:2px solid #E6EEEE;
	/*margin:0 50px 15px;*/
	margin-bottom: 5px;
	padding:5px 0;
	/*min-height: 2em;*/
	overflow: hidden;
	
	position:absolute;
	width:996px;
	z-index:1000;
	top: 0;
}
#messages ul, #mcont .messages ul{
	list-style: none;
	line-height: 2em;
	padding-left: 10px;
}
.messages .status {
    background:transparent url(../images/list-status.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
.messages .info{
	background:transparent url(../images/list-info.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
.messages .error{
	background:transparent url(../images/list-error.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
#main{
	float: left;
	width:780px;
}
#iconmenu{
	height:60px;
	text-align: center;
	margin-bottom: 25px;
}
#iconmenu ul li a{
	display:inline-block;
	padding:48px 10px 10px 0;
	width: 50px;
	outline: none;
}

#iconmenu a:hover, #iconmenu a.active{
	color: #179AFC;
}
#iconmenu #a-admin{
	background: url(../images/admin.png) no-repeat;
}
#iconmenu #a-users{
	background: url(../images/users.png) no-repeat;
}
#iconmenu #a-content{
	background: url(../images/content.png) no-repeat;
}
#iconmenu #a-modules{
	background: url(../images/modules.png) no-repeat;
}
#iconmenu #a-menus{
	background: url(../images/menus.png) no-repeat;
}
#iconmenu #a-stats{
	background: url(../images/stats.png) no-repeat;
}
#iconmenu #a-settings{
	background: url(../images/settings.png) no-repeat;
}
#iconmenu #a-alias{
	background: url(../images/alias.png) no-repeat;
}
#iconmenu #a-syslog{
	background: url(../images/systemlogs.png) no-repeat;
}

#sidebar-right{
	padding: 5px 5px 0 5px ;
	background-color: #E6EEEE;
	float: right;
	border:1px solid #DDDDDD;
}

.block-body{
	color: #000;
	border:1px solid #DDDDDD;
	margin-bottom:10px;
	background-color: #F9F9F9;
}
.post{
	margin-bottom:15px;
	padding-bottom:20px;
	margin-right: 5px;
}
div.contentheader, .groupItem .itemHeader{
	height: 23px;
}
.groupItem .itemHeader{
	cursor: move;
}
.content{
	padding: 5px 5px 20px;
	border-bottom: 1px solid gray;
	overflow: hidden;
	height: 250px;
}
.content a.postImage { 
	float: left; 
	padding: 3px 3px 0 3px;
	border: 1px solid black;
	background-color: white;
	margin-right: 5px;
} 
.block{
	width:188px;
}
.block_body{
	background-color: #F9F9F9;
	padding: 3px;
}
.content-block, .block, .groupItem{
	background-color:#E6E6E6;
	padding: 5px;
	border:1px solid #DDDDDD;
	margin-bottom: 10px
}
.content a.postImage img { 
	/* no float */ 
}
.itemContent{
	background-color: #F9F9F9;
}
#userlist ul li{
	background:transparent url(../images/online.png) no-repeat scroll 0 50%;
	line-height:1.7em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-left:15px;
	margin-left: 15px;
}
#projects, #other{
	float:left;
	width:373px;
}
#projects{
	margin-right: 10px;
}
#news .ui-tabs-panel{
	height: 310px;
}
.links{
	padding: 0 10px;
}
.links .comments{
	float: left;
}
.links .submitted{
	float: right;
}
h2.title, h2.title a {
	margin-top: 0;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 14px;
	color: #000;
	text-indent: 1em;
	text-decoration: none;
	font-weight: bold;
	float: left;
}
.toggle{
	float: right;
	cursor: pointer;
}
#footer{
	text-align:center;
	clear: both;
}
/* tables */
table{
	font-family:arial;
	color: #000;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border: 1px solid #FFF;
}
table thead{
	background: #E7EEF3 url(cupertino/images/ui-bg_highlight-soft_100_e7eef3_1x100.png) repeat-x scroll 50% 50%;
}
table thead tr th, table tfoot tr th {
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table tbody td {
	padding: 4px;
}
table tbody tr.odd td {
	background-color:#F0F0F6;
}
table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
	background-color: #8dbdd8;
}
table tbody td.actions{
	text-align: center;
}
.formheader{
	text-align: center;
	font-weight:bold;
}
.elementcontainer{
	padding: 15px 10px 10px;
}
div.label{
	float:left;
	width:100px;
	font-weight: bold;
}
div.formbutton{
	text-align: center;
}
#mainAdmin{
	padding: 15px 0;
}
.imgTitle{
	clear:both;
	display:block;
	font-weight:bold;
	line-height:0.8em;
}
/*
Begin Sortables Styles
*/
.groupWrapper
{
	width: 373px;
	float: left;
	margin-right: 10px;
	min-height: 400px;
}
#sidebar
{
	width: 15%;
	float: right;
	margin-left: 1%;
	min-height: 200px;
	background-color: gray;
	display: none;
}
#sidebar .groupItem {
	height: 50px;
}
.serializer
{
	float: left;
}
.edit
{
	position: absolute;
	right: 40px;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.sortHelper
{
	background-color: lightblue;
	border: 1px dashed #666;
	width: 100px !important;
}
.groupWrapper p
{
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#addContent {
	position: relative;
}
.nicEdit-selected, .nicEdit-main {
	background-color: #fff;
	margin-left: 130px;
}
.nicEdit-panelContain, .nicEdit-pane{
	color: #000;
	line-height: 1em;
}
.element{
	margin-left: 130px;
}
#tabs .ui-tabs-panel .post .contentheader{
	display:none;
}
.hidden{
	display: none;
}
.ui-tabs .ui-tabs-nav li a.tabClose{
	background:transparent url(../images/close-16.png) no-repeat scroll 0 0;
	height:16px;
	padding: 0;
	width: 16px;
	cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a.tabClose, .ui-tabs .ui-tabs-nav li.ui-state-disabled a.tabClose, .ui-tabs .ui-tabs-nav li.ui-state-processing a.tabClose{
	cursor: pointer;
}
#forgot_pw{
	display:inline-block;
	font-size:11px;
	padding: 10px 0;
	text-align:center;
	width:100%;
}
.evenrow{
	background-color: #FFF;
}
.oddrow{
	background-color: #F0F0F0;
}
#action-links{
	float:right;
	position:relative;
	top:-44px;
}
#action-links a{
	margin: auto;
}
.jcarousel-prev-disabled, .jcarousel-next-disabled{
	opacity: .2;
	filter: alpha(opacity=20);
}
tbody tr:hover{
	background-color: #99C2FF;
}
tr td{
	position: relative;
}
#pager{
	text-align: center;
}
#thumbnail{
	background-color:#FFFFFF;
	border: 1px solid black;
	float:right;
	padding: 5px;
	position:relative;
	right:100px;
	top:-50px;
	text-align: center;
}
#thumbnail img{
	border: 1px solid white;
	padding: 1px;
}

a{
	cursor: pointer;
}

/*
 * Profile Styles
 */
#profile-info{
	width: 160px;
	height: 100%; 
	float: left;
	min-height: 400px;
	border-right: 1px solid black; 
	margin-right: 10px;
}

#profile-tabs{
	width: 600px;
	position: relative;
	float: right;
	min-height: 400px;
}
#profile-tabs ul#uitabs{
	float:right;
}
#avatar{
	border: 1px solid black;
	padding: 5px;
}
