body{
	width:850px; 
	margin: 0 auto;
	font-family: Verdana, sans-serif;
	font-size: 9pt;
	color: #fff;
	line-height: 1.7em;
	background-color: #292929;
}
a img{
	border: none;
}
#header{
	margin-bottom: 15px;
	position: relative;
}
#banner{
	background: url('../images/wcms_banner.png');
	height:65px;
}
#sitename{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 15px;
}
#siteslogan{
	font-family:arial;
	font-size:15px;
	padding-right:10px;
	position:relative;
	text-align:right;
	top:25px;
}
#user{
	float:right;
	padding-right:5px;
	position:relative;
	top:46px;
}
#header #loginform{
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 10px;
}
#loginform form input{
	font-size: 10px;
}
#menu{
	position: absolute;
	top: 46px;
	padding-left: 35px;
}
#menu a:link,#menu a:visited {
	color: #fff;
}
#messages{
	background:#4D5050 none repeat scroll 0 0;
	border:1px solid #FFFFFF;
	margin:0 50px 15px;
	padding:5px 0;
}
#messages ul{
	list-style: none;
}
.messages .status {
    background:transparent url(../images/list-status.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
.messages .info{
	background:transparent url(../images/list-info.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
.messages .error{
	background:transparent url(../images/list-error.png) no-repeat scroll -2px 50%;
	padding-left: 30px;
}
#main{
	float: left;
	width:660px;
}
#iconmenu{
	height:50px;
	text-align: center;
}
#iconmenu a{
	display:inline-block;
	height:48px;
	padding:0 10px;
}

/*#iconmenu a:hover img{
	background: lightblue;
}*/

#sidebar-right{
	margin-left:660px;
	padding:0 10px;
	width:180px;
	/*
border: 1px dashed gray;
*/
}
.block-body{
	background-color: #3c4040;
	margin-bottom:10px;
	padding:5px;
}
.post{
	margin-bottom:15px;
	padding-bottom:20px;
	margin-right: 5px;
	background-color: #3c4040;
	/*-moz-opacity: .85;
	filter: alpha(opacity=75);*/
}
div.contentheader{
	background: transparent url(../images/contentheader.png) repeat-x scroll;
	height: 23px;
}
.content{
	padding: 5px 5px 20px;
	border-bottom: 1px solid gray;
	overflow: hidden;
}
.content a.postImage { 
	float: left; 
	padding: 3px 3px 0 3px;
	border: 1px solid black;
	background-color: white;
	margin-right: 5px;
} 
.content a.postImage img { 
	/* no float */ 
}
.links{
	float: right;
	padding-right: 10px;
}
h2.title, h2.title a {
	margin-top: 0;
	font-family: sans;
	font-size: 14px;
	color: #fff;
	text-indent: 1em;
	text-decoration: none;
}
#footer{
	text-align:center;
	clear: both;
}
/* tables */
table.tablesorter {
	font-family:arial;
	color: #000;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
table.tablesorter tbody td.actions{
	text-align: center;
}
.formheader{
	text-align: center;
	font-weight:bold;
	background: transparent url(../images/contentheader.png) repeat-x scroll;
}
.elementcontainer{
	padding-top: 15px;
}
div.label{
	float:left;
	width:150px;
}
div.formbutton{
	text-align: center;
}
#mainAdmin{
	padding: 15px 0;
}
/*
Begin Sortables Styles
*/
.groupWrapper
{
	width: 315px;
	float: left;
	margin-right: 5px;
	min-height: 400px;
}
#sidebar
{
	width: 15%;
	float: right;
	margin-left: 1%;
	min-height: 200px;
	background-color: gray;
	display: none;
}
#sidebar .groupItem {
	height: 50px;
}
.serializer
{
	float: left;
}
.groupItem
{
	margin-bottom: 20px;
	background: #3C4040;
}
.groupItem .itemHeader
{
	line-height: 20px;
	background: transparent url(../images/contentheader.png) repeat-x scroll 0 0;
	color: #fff;
	padding: 0 10px;
	cursor: move;
	font-weight: bold;
	font-size: 16px;
	height: 20px;
	position: relative;
}
.closeEl
{
	position: absolute;
	right: 10px;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}

.edit
{
	position: absolute;
	right: 40px;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.sortHelper
{
	background-color: lightblue;
	border: 1px dashed #666;
	width: 100px !important;
}
.groupWrapper p
{
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#addContent {
	position: relative;
}
.ui-tabs-hide { display: none; }